*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    margin-left: 32vw;
    margin-right: 2vw;
}

.login h2{
    color:  #1DB86B;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 500px;
    margin: 2vw 2vh; 
    padding: 2vw 2vh; 
}
